.cont button{
    padding: 10px 10px 10px 10px; background-color: rgb(220, 237, 200 );
    border-radius: 4px;
    border: none;
}

.cont {
    background: rgba(88, 197, 197, 0.7);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: auto;
    width:900px ;
    height:auto;
    padding-left: 25px;
    padding-top: 25px;
    border-radius: 5px;
    margin-bottom: 10px ;
    padding-bottom: 25px;
    margin-top: 50px;
}

.cont input{  
    width: 25%;
    padding: 10px;
    border-radius: 4px;
    margin: 0 0 10px 0;
    border-bottom: 4px solid #000000;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    color: rgb(0, 0, 0);    
}